util.print: Use console.log instead
/* app css stylesheet */
.ng-cloak {
  display: none;
}
.form-signin {
  max-width: 350px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
body {
  margin-top: 0px;
  padding-top: 0px;
}
body.login-page {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.page-header {
  padding: 10px;
  margin: 0px !important;
  background-color: #e1fbfa;
  border-bottom-color: #a1d2d1;
}
.page-header small {
  color: #07857f;
}
.small-header button {
  margin-right: 10px;
}
.small-header p {
  display: inline;
}
.small-header h1 {
  display: inline;
  font-size: 24px;
}
.small-header h1 .smaller {
  font-size: 18px;
  font-style: normal;
  color: #07857f;
}
.control-bar {
  margin-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
}
.control-bar .btn {
  width: auto;
  margin: 5px;
  margin-top: 0px;
}
.control-bar .select {
  width: auto;
  margin-right: 10px;
}
.control-btn {
  margin: 10px;
}
.edit-pane {
  overflow: scroll;
  height: 500px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border-color: #d3d3d3;
}
div.markdown-preview {
  height: 460px;
  overflow: scroll;
}
div.preview-header {
  width: auto;
  background-color: #e1fbfa;
  color: #07857f;
  padding: 5px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #a1d2d1;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2px;
  text-align: right;
}
div.state-preview {
  height: 460px;
  overflow: scroll;
}
div.state-preview p {
  line-height: 17px;
  margin-bottom: 1em;
}
div.state-preview h2 {
  font-size: 19px;
  color: #07857f;
  font-weight: 700;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 6px;
  margin-bottom: 10px;
  clear: both;
}
div.state-preview h3 {
  font-size: 14px;
  color: #666;
  font-weight: 700;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 6px;
  margin-bottom: 10px;
  margin-top: 1em;
  clear: both;
}
div.state-preview ul li {
  margin-bottom: 0.5em;
  line-height: 17px;
  list-style-type: disc;
  margin-left: 2em;
}
div.state-preview img {
  padding-right: 10px;
}
div.state-preview a {
  color: #f48822;
  text-decoration: none;
  font-weight: 700;
  line-height: inherit;
}
div.state-preview a:hover {
  text-decoration: underline;
}
div.state-preview address {
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}
.well {
  background-color: white;
  border-color: #a1d2d1;
  margin-bottom: 10px;
}
#login-form {
  width: 350px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.list {
  padding: 10px;
}
.detail {
  position: relative;
  top: 150px;
  padding: 10px;
}
.detail .form-horizontal {
  padding: 10px 0px;
}
.gridStyle {
  border: 1px solid #d4d4d4;
  width: auto;
  height: 500px;
}
.ui-select2 {
  width: auto;
}
.prompt {
  width: auto;
  padding: 10px;
  font: bold large Helvetica, sans-serif;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #e1fbfa;
  border: 1px inset #a1d2d1;
}
.banner-id {
  overfow: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 15px;
}
@media only screen and (max-width: 765px) {
  .banner-id {
    font-size: 14px;
  }
}
.banner-id > p {
  display: inline;
  margin-left: 5px;
}
.banner-id .legal_name {
  font-style: italic;
  font-family: Times, serif;
}
.banner-buttons {
  margin-bottom: 10px;
}
.banner-buttons button {
  margin-top: 10px;
  margin-left: 5px;
}
@media print {
  .banner-buttons {
    display: none;
  }
}
.banner-controls select {
  margin-top: 10px;
  margin-left: 5px;
}
.banner-controls button {
  margin-left: 5px;
}
@media print {
  .banner-controls {
    display: none;
  }
}
.banner-hide {
  display: none;
}
.banner-show {
  width: 100%;
  background-color: #e1fbfa;
  border-bottom: #a1d2d1 solid 1px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.large-banner {
  height: 360px;
}
@media only screen and (max-width: 765px) {
  .large-banner {
    height: 360px;
  }
}
.small-banner {
  height: 140px;
}
@media only screen and (max-width: 765px) {
  .small-banner {
    height: 210px;
  }
}
@media only screen {
  .face-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
  }
}
@media only screen and (max-width: 765px) {
  .face-container {
    top: 75px;
  }
}
@media only screen {
  .relative-face-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
  }
}
@media only screen {
  .offset-face-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 220px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
  }
}
@media only screen and (max-width: 765px) {
  .offset-face-container {
    top: 295px;
  }
}
.faces {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -webkit-transform 1s;
  transition: transform 1s;
}
.faces > div {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media print {
  .faces {
    position: relative;
  }
}
@media only screen {
  .faces .front {
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@media print {
  .faces .front {
    position: relative;
  }
}
@media only screen {
  .faces .back {
    position: absolute;
  }
}
@media print {
  .faces .back {
    position: relative;
  }
}
@media only screen {
  .csstransforms3d .faces .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@media only screen {
  .faces.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.options-overlay {
  width: 100%;
  margin: 5px;
  padding: 10px;
  color: black;
  background-color: lightgoldenrodyellow;
  border: 2px solid red;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.options-overlay td {
  padding: 5px;
}
.closed {
  background-color: #e1fbfa;
  padding: 10px;
  border: 1px solid black;
}
.closed button {
  margin: 0px;
  position: relative;
  top: -2px;
}
.closed .closed-text {
  color: black;
  font-size: 24px;
}
.inline-controls {
  padding: 10px 10px 10px 0px;
}
.inline-controls > div > button {
  margin-bottom: 10px;
}
.inline-controls .gridStyle {
  clear: both;
  margin-top: 10px;
}
.sub-form {
  height: 50px;
  margin: 0px 0px 10px 0px;
  background-color: #e1fbfa;
}
.sub-form-title {
  position: relative;
  top: 10px;
  padding: 5px 5px 10px 50px;
  font-style: bold;
  font-size: larger;
}
.sub-form-buttons {
  position: relative;
  top: 10px;
  padding: 0px 20px 0px 20px;
}
.sub-form-control-bar {
  padding: 10px;
}
.filters {
  padding: 10px 5px;
}
.filter-label {
  paddingt: 5px 5px;
}
.filter-buttons {
  padding-bottom: 10px;
}
.optionsbar {
  padding: 10px;
  margin-right: 20px;
}
.optionsbar label {
  padding: 0px 5px;
}
#sidebar {
  margin-top: 20px;
}
.summary table caption {
  font-size: 18px;
  margin-bottom: 10px;
}
.ngRow.selected {
  background-color: #e1fbfa;
}
.ngColMenu,
.ngAggregate {
  background-color: #e1fbfa;
}
.hilite {
  color: black;
  background-color: yellow;
  text-shadow: 1px 1px 1px white;
}
.filter-condition {
  margin: 10px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a1d2d1;
}
.search-control a.btn {
  margin-left: 10px;
}
.radio-container {
  margin-right: 10px;
}
.error {
  width: auto !important;
  margin: 5px !important;
  padding: 10px !important;
  color: black !important;
  background-color: lightgoldenrodyellow !important;
  border: 1px solid red !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
