/* app css stylesheet */
.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.box-shadow (@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}
.perspective (@perspective) {
  -webkit-perspective: @perspective;
  -moz-perspective: @perspective;
  -o-perspective: @perspective;
  perspective: @perspective;
}
.transform (@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}
.transform-style (@style) {
  -webkit-transform-style: @style;
  -moz-transform-style: @style;
  -ms-transform-style: @style;
  -o-transform-style: @style;
  transform-style: @style;
}
.transform-origin (@axes) {
  -webkit-transform: @axes;
  -moz-transform: @axes;
  -ms-transform: @axes;
  -o-transform: @axes;
  transform: @axes;
}
// TLDEF Colors
@tldef-light-gray: #dcdcdc;
//@tldef-dark-green: #00948f;
@tldef-dark-green: #07857f;
@tldef-medium-green: #a1d2d1;
@tldef-light-green: #e1fbfa;
@tldef-orange: #f48822;

.ng-cloak {
  display: none;
}

.form-signin {
  max-width: 350px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  .border-radius(5px);
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

body {
  margin-top: 0px;
  padding-top: 0px;
  &.login-page {
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
}

.page-header {
  padding: 10px;
  margin: 0px !important;
  background-color: @tldef-light-green;
  border-bottom-color: @tldef-medium-green;
  small {
    color: @tldef-dark-green;
  }
}

.small-header {
  button {
    margin-right: 10px;
  }
  p {
    display: inline;
  }
  h1 {
    display: inline;
    font-size: 24px;
    .smaller {
      font-size: 18px;
      font-style: normal;
      color: @tldef-dark-green;
    }
  }

}

// State Editor
@edit-height: 500px;
@preview-height: @edit-height - 40px;

.control-bar {
  margin-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  .btn {
    width: auto;
    margin: 5px;
    margin-top: 0px;
  }
  .select {
    width: auto;
    margin-right: 10px;
  }
}

.control-btn {
  margin: 10px;
}

.edit-pane {
  overflow: scroll;
  height: @edit-height;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border-color: #d3d3d3;
}

div.markdown-preview {
  height: @preview-height;
  overflow: scroll;
}

div.preview-header {
  width: auto;
  background-color: @tldef-light-green;
  color: @tldef-dark-green;
  padding: 5px 5px;
  .border-radius(3px);
  border-color: @tldef-medium-green;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2px;
  text-align: right;
}

div.state-preview {
  height: @preview-height;
  overflow: scroll;
  p {
    line-height: 17px;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 19px;
    color: @tldef-dark-green;
    font-weight: 700;
    border-bottom: 1px solid @tldef-light-gray;
    padding-bottom: 6px;
    margin-bottom: 10px;
    clear: both;
  }
  h3 {
    font-size: 14px;
    color: #666;
    font-weight: 700;
    border-bottom: 1px solid @tldef-light-gray;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin-top: 1em;
    clear: both;
  }
  ul li {
    margin-bottom: 0.5em;
    line-height: 17px;
    list-style-type: disc;
    margin-left: 2em;
  }
  img {
    padding-right: 10px;
  }
  a {
    color: @tldef-orange;
    text-decoration: none;
    font-weight: 700;
    line-height: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
  address {
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.well {
  background-color: white;
  border-color: @tldef-medium-green;
  margin-bottom: 10px;
}


// Login
#login-form {
  width: 350px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

// Master-Detail Forms
.list {
  padding: 10px;
}

@detail-padding: 10px;

.detail {
  position: relative;
  top: @banner-height;
  padding: @detail-padding;
  .form-horizontal {
    padding: @detail-padding 0px;
  }

}

.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  width: auto;
  height: 500px
}

.ui-select2 {
  width: auto;
}

// Prompts

.prompt {
  width: auto;
  padding: 10px;
  font: bold  large Helvetica, sans-serif;
  .border-radius (6px);
  background-color:  @tldef-light-green;
  border: 1px inset @tldef-medium-green;
}

// Banner

.banner-id {
  overfow: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 0.5*@detail-padding;
  margin-top: 1.5*@detail-padding;
  @media only screen and (max-width : 765px) { font-size: 14px; }
  > p { display: inline; margin-left: 0.5*@detail-padding; }
  .legal_name {
    font-style: italic;
    font-family: Times, serif;
  }
}

.banner-buttons {
  margin-bottom: @detail-padding;
  button {
    margin-top: @detail-padding;
    margin-left: 0.5*@detail-padding;
  }
  @media print { display: none};
}

.banner-controls {
  select  {
    margin-top: @detail-padding;
    margin-left: 0.5*@detail-padding;
  }
  button {
    margin-left: 0.5*@detail-padding;
  }
  @media print { display: none};
}

.banner-hide {
  display: none;
}

@banner-height: 150px;
@notes-height: 220px;
@small-banner-height: @banner-height - @detail-padding;
@large-banner-height: @notes-height + @banner-height - @detail-padding;
@banner-shift: @large-banner-height - @small-banner-height;
@small-banner-height2: 0.5*(@small-banner-height + @detail-padding);

.banner-show {
  width: 100%;
  background-color: @tldef-light-green;
  border-bottom: @tldef-medium-green solid 1px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
// TODO: fix offsets
.large-banner {
  height :@large-banner-height;
  @media only screen and (max-width : 765px) { height: @large-banner-height; }
}

.small-banner {
  height: @small-banner-height;
  @media only screen and (max-width : 765px) { height: 1.5*@small-banner-height;}
}

.card-container(@position, @top) {
  @media only screen {
    width: 100%;
    height: 100%;
    position: @position;
    top: @top;
    .perspective( 800px );
  }
}

.face-container {
  .card-container(absolute,0);
  @media only screen and (max-width : 765px) { top: @small-banner-height2; }
}

.relative-face-container {
  .card-container(relative, 0);
}

.offset-face-container {
  .card-container(absolute, @banner-shift);
  @media only screen and (max-width : 765px) { top: @banner-shift + @small-banner-height2; }
}

.faces {
  width: 100%;
  height: 100%;
  position: absolute;
  .transform-style( preserve-3d );
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -webkit-transform 1s;
  transition: transform 1s;
  > div {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  @media print {
    position: relative;
  }
}

.faces .front {
  @media only screen {
    position: absolute;
    left: 0px;
    top: 0px;
    .transform( rotateY( 0deg ));
  }
  @media print {
    position: relative;
  }
}

.faces .back {
  @media only screen {
    position: absolute;
  }
  @media print {
    position: relative;
  }
}

.csstransforms3d .faces .back {
  @media only screen {
    .transform( rotateY( 180deg ) );
  }
}

.faces.flipped {
  @media only screen {
    .transform( rotateY( 180deg ) );
  }
}

.options-overlay {
  width: 100%;
  margin: 5px;
  padding: 10px;
  color: black;
  background-color: lightgoldenrodyellow;
  border: 2px solid red;
  .border-radius(8px);
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
  td {
      padding: 5px;
  }
}

.closed {
  background-color: @tldef-light-green;
  padding: 10px;
  border: 1px solid black;
  button {
    margin:0px;
    position: relative;
    top: -2px;
  }
  .closed-text {
    color: black;
    font-size: 24px;
  }
}

.inline-controls {
  padding: 10px 10px 10px 0px;
  > div > button {
    margin-bottom: 10px;
  }
  .gridStyle {
    clear: both;
    margin-top: 10px;
  }
}



.sub-form {
  height:50px;
  margin: 0px 0px 10px 0px;
  background-color: @tldef-light-green;
}

.sub-form-title {
  position: relative;
  top: 10px;
  padding: 5px 5px 10px 50px;
  font-style: bold;
  font-size: larger;
}

.sub-form-buttons {
  position: relative;
  top: 10px;
  padding: 0px 20px 0px 20px;
}

.sub-form-control-bar {
  padding: 10px;
}

.filters {
  padding: 10px 5px;
}

.filter-label {
  paddingt: 5px 5px;
}

.filter-buttons{
  padding-bottom: 10px;
}

.optionsbar {
  padding: 10px;
  margin-right: 20px;
  label { padding: 0px 5px;}
}

#sidebar {
  margin-top: 20px;
}

.summary {
  table caption {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.ngRow.selected  {
  background-color: @tldef-light-green;
}

.ngColMenu, .ngAggregate {
  background-color: @tldef-light-green;
}


.hilite {
  color: black;
  background-color: yellow;
  text-shadow: 1px 1px 1px white;
}

.filter-condition {
  margin: 10px;
  padding: 5px;
  .border-radius(5px);
  border:  1px solid @tldef-medium-green;
}


.search-control a.btn {
  margin-left: 10px;
}

.radio-container {
  margin-right:10px;
}


.error {
  width: auto !important;
  margin: 5px !important;
  padding: 10px !important;
  color: black !important;
  background-color: lightgoldenrodyellow !important;
  border: 1px solid red !important;
  .border-radius(3px);
}
//.ngHeaderCell{
//  color: rgb(243, 243, 243);;
//  background-color: @tldef-dark-green;
//  font-weight: normal;
//  //font-size: small;
//}