/**********************************************************************************/
/* Style overrides needed to reconcile TLDEF styles with bootstrap defaults.      */
/**********************************************************************************/

#sidebar-left  ul {
  margin: 0px;
}

#sidebar-right a {
  color: #f48822;
  text-decoration: none;
  font-weight: 700;
  line-height: inherit;
}

#content-states {
  padding: 18px 20px 40px 20px;
}

#content-states .help-block {
  line-height: 17px;
}

div.state p {
  line-height: 17px;
  margin-bottom: 1em;
}

#content-states h2, div.state h2 {
  font-size: 19px;
  color: #07857f;
  font-weight: 700;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 6px;
  margin-bottom: 10px;
  clear: both;
}

#content-states h3, div.state h3 {
  font-size: 14px;
  color: #666;
  font-weight: 700;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 6px;
  margin-bottom: 10px;
  margin-top: 1em;
  clear: both;
}

div.state ul li {
  margin-bottom: 0.5em;
  line-height: 17px;
  list-style-type: disc;
  margin-left: 2em;
}

div.state img {
  padding-right: 10px;
}

div.state a {
  color: #f48822;
  text-decoration: none;
  font-weight: 700;
  line-height: inherit;
}

div.state a:hover {
  text-decoration: underline;
}

div.state address {
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}

.well {
  background-color: #ffffff;
  border-color: #a1d2d1;
}
