.ng-cloak {
  display: none;
}
#sidebar-logos {
  width: 180px;
  padding: 0px;
}
#sidebar-options {
  padding: 0px;
}
#sidebar-options label {
  margin-bottom: 10px;
}
#sidebar-options label input {
  margin-top: 4px;
}
#sponsors {
  padding: 0px 3px 0px 7px;
  margin: 0px;
  background-color: white;
}
#sponsors .sponsor-title {
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  color: #07857f;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 5px;
  text-align: center;
}
#sponsors img {
  padding: 0px 0px 0px;
  margin: 0px;
}
.fadeout {
  opacity: 0.0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.fadein {
  opacity: 1.0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.slideout {
  position: relative;
  right: 1000px;
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
  -moz-transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
  -o-transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
  transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
}
.slidein {
  position: relative;
  right: 0px;
  opacity: 1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
  -moz-transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
  -o-transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
  transition: opacity 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035), right 0.4s ease 0.1s;
}
