@easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
@slideTransition: opacity .3s @easeInExpo, right .4s ease 0.1s;
@fadeTransition: opacity .5s ease;

.ng-cloak {
  display: none;
}

#sidebar-logos {
  width: 180px;
  padding: 0px;
}

#sidebar-options {
  padding: 0px;
  label {
    margin-bottom: 10px;
    input {
      margin-top: 4px;
    }
  }
}

#sponsors {
  padding: 0px 3px 0px 7px;
  margin: 0px;
  background-color: white;
  .sponsor-title {
    width: 160px;
    font-weight: 700;
    font-size: 16px;
    color: #07857f;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 5px;
    text-align: center;
  }
  img {
    padding: 0px 0px 0px;
    margin: 0px;
    //border: 1px solid #DCDCDC;
  }
}

.fadeout {
  opacity: 0.0;
  -webkit-transition: @fadeTransition;
  -moz-transition: @fadeTransition;
  -o-transition: @fadeTransition;
  transition: @fadeTransition;
}

.fadein {
  opacity: 1.0;
  -webkit-transition: @fadeTransition;
  -moz-transition: @fadeTransition;
  -o-transition: @fadeTransition;
  transition: @fadeTransition;
}

.slideout {
  position: relative;
  right: 1000px;
  opacity: 0;
  -webkit-transition: @slideTransition;
  -moz-transition: @slideTransition;
  -o-transition: @slideTransition;
  transition: @slideTransition;
}

.slidein {
  position: relative;
  right: 0px;
  opacity: 1;
  -webkit-transition: @slideTransition;
  -moz-transition: @slideTransition;
  -o-transition: @slideTransition;
  transition: @slideTransition;
}


