.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/***************************************/
/* State database view selection pills */
/***************************************/
ul.nav.nav-pills.tldef > li > a {
  color: #07857F;
}

ul.nav.nav-pills.tldef > li > a:hover {
  background-color: #e1fbfa;
}

ul.nav.nav-pills.tldef > .active > a,
ul.nav.nav-pills.tldef > .active > a:hover {
  color: #ffffff;
  background-color: #07857F;
}

/***************************************/
/* Custom report tabs                  */
/***************************************/
div#report-pane > div > ul > li> a {
  color: #07857F;
}

div#report-pane > div > ul > li> a:hover {
  background-color: #e1fbfa;
}

div#report-pane > div > ul > li.active > a,
div#report-pane > div > ul > li.active > a:hover {
  color: #ffffff;
  background-color: #07857F;
}

#tldef-content {
    margin-left: 30px;
}

