<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Client Totals By State &amp; County</b></caption>
        <thead>
        <tr>
            <th>State</th>
            <th>County</th>
            <th>Total Clients</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in summary.counties">
            <td>{{item.state}}</td>
            <td>{{item.county}}</td>
            <td>{{item.total_clients}}</td>
        </tbody>
    </table>
</div>
<div class="ng-cloak col-sm-12 chart"  ng-show="optionsDisplay==='chart'">
    <fs-bar bind="chartData.by_county" width="640" height="640"/>
</div>