<div class="col-sm-12 well">
    <div ng-form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Start Date</label>

            <div class="col-sm-5">
                <input ui-date="dateOptions" type="text" name="age_start_date" placeholder="mm/dd/yyyy"
                       class="form-control" ng-model="start_date_age"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">End Date</label>

            <div class="col-sm-5">
                <input ui-date="dateOptions" type="text" name="age_end_date" placeholder="mm/dd/yyyy"
                       class="form-control" ng-model="end_date_age"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Region</label>

            <div class="col-sm-5">
                <select class="form-control ng-cloak" ng-model="zone_name">
                    <option ng-repeat="zone in zones">{{zone.name}}</option>
                </select>

            </div>
            <button class="btn btn-default" ng-click="ethnicityReport(start_date_age,end_date_age,zone_name)"><i
                    class="glyphicon glyphicon-search"></i>Search
            </button>
        </div>

    </div>
</div>

<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Ethnicity Statistics</b></caption>
        <thead>
        <tr>
            <th>Ethnicity</th>
            <th>Number of Clients</th>
            <th>Percent of Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ethnicityData.ethnicity">
            <td>{{item.label}}</td>
            <td>{{item.value}}</td>
            <td>{{item.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{ethnicityData.total}} </p>
    <p><strong>Note:</strong> Ethnicity percentages may sum to greater than 100 because some clients specify multiple ethnicities.</p>
</div>