<div class="ng-cloak col-sm-12" ng-show="optionsDisplay==='table'">
    <div class="summary">
        <table class="table table-condensed table-striped table-bordered">
            <caption><b>Client Totals By Firm</b></caption>
            <thead>
            <tr>
                <th>Firm</th>
                <th>Total Clients</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in summary.firms">
                <td>{{item.name}}</td>
                <td>{{item.total_clients}}</td>
            </tbody>
        </table>
    </div>
</div>
<div class="ng-cloak col-sm-12 chart"  ng-show="optionsDisplay==='chart'">
    <fs-bar bind="chartData.by_firm" width="640" height="640"/>
</div>