<div class="ng-cloak col-sm-12 summary">
    <div class="col-sm-12 well">
        <div ng-form ng-cloak class="form-inline optionsbar">
            <div class="pull-right">
                Display As
                <label class="radio">
                    <input type="radio" name="optionsDisplay" ng-model="optionsDisplay" id="optionsDisplayTable"
                           value="table">
                    Table
                </label>
                <label class="radio">
                    <input type="radio" name="optionsDisplay" ng-model="optionsDisplay" id="optionsDisplayChart"
                           value="chart">
                    Chart
                </label>
            </div>
        </div>
    </div>
    <table class="table table-condensed table-striped table-bordered" ng-show="optionsDisplay==='table'">
        <caption><b>Client Totals By Gender Transition</b></caption>
        <thead>
        <tr>
            <th>Gender Transition</th>
            <th>Total Clients</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in summary.gender_transitions">
            <td>{{item.gender_transition}}</td>
            <td>{{item.total_clients}}</td>
        </tbody>
    </table>
</div>
<div class="ng-cloak col-sm-12 chart" ng-show="optionsDisplay==='chart'">
    <fs-pie bind="chartData.by_gender"/>
</div>