<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Client Totals By Interviewer</b></caption>
        <thead>
        <tr>
            <th>Interviewer</th>
            <th>Total Clients</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in summary.interviewers">
            <td>{{item.interviewer}}</td>
            <td>{{item.total_clients}}</td>
        </tbody>
    </table>
</div>
<div class="ng-cloak col-sm-12 chart"  ng-show="optionsDisplay==='chart'">
    <fs-pie bind="chartData.by_interviewer" width="640" height="640"/>
</div>