<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Client Totals By Referrer</b></caption>
        <thead>
        <tr>
            <th>Referrer</th>
            <th>Total Clients</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in summary.referrers">
            <td>{{item.name}}</td>
            <td>{{item.total_clients}}</td>
        </tbody>
    </table>
</div>
<div class="ng-cloak col-sm-12 chart"  ng-show="optionsDisplay==='chart'">
    <fs-bar bind="chartData.by_referrer"  width="1024" height="768"/>
</div>