<div class="col-sm-12 well">
    <div ng-form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Start Date</label>

            <div class="col-sm-5">
                <input ui-date="dateOptions" type="text" name="start_date" placeholder="mm/dd/yyyy"
                       class="form-control" ng-model="start_date"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">End Date</label>

            <div class="col-sm-5">
                <input ui-date="dateOptions" type="text" name="end_date" placeholder="mm/dd/yyyy"
                       class="form-control" ng-model="end_date"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Region</label>

            <div class="col-sm-5">
                <select class="form-control ng-cloak" ng-model="zone_name">
                    <option ng-repeat="zone in zones">{{zone.name}}</option>
                </select>

            </div>


        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Display</label>

            <div class="col-sm-5">
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-default"
                                    ng-click="demographicsReport(start_date,end_date,zone_name)"><i
                                    class="glyphicon glyphicon-eye-open"></i> On Screen
                            </button>
                        </td>
                        <td>
                            <a href="/reports/demographics-pdf/{{start_date | date:'yyyy-MM-dd'}}/{{end_date | date:'yyyy-MM-dd' }}/{{age_bins}}/{{income_bins}}/{{zone_name}}"
                               target="_new" class="btn btn-default"><i class="glyphicon glyphicon-file"></i> PDF
                                File</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <p><strong>Total Number of Requests for Name Change Assistance:</strong> {{demographicsData.data.contacts}}</p>

    <p><strong>Total Number of Intakes Completed:</strong> {{demographicsData.data.intakes}}</p>
</div>

<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Age Statistics</b></caption>
        <thead>
        <tr>
            <th>Age Group</th>
            <th>Number of Clients</th>
            <th>Percent</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in demographicsData.data.ages.ages">
            <td>{{item.label}}</td>
            <td>{{item.value}}</td>
            <td>{{item.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{demographicsData.data.ages.total}}</p>
</div>


<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Income Statistics</b></caption>
        <thead>
        <tr>
            <th>Income Bracket</th>
            <th>Number of Clients</th>
            <th>Percent</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in demographicsData.data.incomes.incomes">
            <td>{{item.label}}</td>
            <td>{{item.value}}</td>
            <td>{{item.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{demographicsData.data.incomes.total}}</p>
</div>

<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Ethnicity Statistics</b></caption>
        <thead>
        <tr>
            <th>Ethnicity</th>
            <th>Number of Clients</th>
            <th>Percent of Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in demographicsData.data.ethnicity.items">
            <td>{{item.label}}</td>
            <td>{{item.value}}</td>
            <td>{{item.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{demographicsData.data.ethnicity.count}} </p>

    <p><strong>Note:</strong> Ethnicity percentages may sum to greater than 100 because some clients specify multiple
        ethnicities.</p>
</div>

<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Education Statistics</b></caption>
        <thead>
        <tr>
            <th>Education</th>
            <th>Number of Clients</th>
            <th>Percent of Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in demographicsData.data.education.items">
            <td>{{item.label}}</td>
            <td>{{item.value}}</td>
            <td>{{item.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{demographicsData.data.education.count}}</p>
</div>

<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Clients On Public Assistance</b></caption>
        <thead>
        <tr>
            <th>Number of Clients</th>
            <th>Percent of Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{demographicsData.data.public_assistance.count}}</td>
            <td>{{demographicsData.data.public_assistance.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{demographicsData.data.public_assistance.total}}</p>
</div>

<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Clients On Medicaid</b></caption>
        <thead>
        <tr>
            <th>Number of Clients</th>
            <th>Percent of Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{demographicsData.data.medicaid.count}}</td>
            <td>{{demographicsData.data.medicaid.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{demographicsData.data.medicaid.total}}</p>
</div>


<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Sex Assigned At Birth</b></caption>
        <thead>
        <tr>
            <th>Sex Assigned At Birth</th>
            <th>Number of Clients</th>
            <th>Percent of Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in demographicsData.data.sex.items">
            <td>{{item.label}}</td>
            <td>{{item.value}}</td>
            <td>{{item.percent}}</td>
        </tbody>
    </table>
    <p><strong>Total Number of Clients:</strong> {{demographicsData.data.sex.count}}</p>
</div>