<div class="col-sm-12 well">
    <div ng-form class="form-horizontal optionsbar">
        <div class="form-group">
            <label class="col-sm-3 control-label">Start Date</label>

            <div class="col-sm-5">
                <input ui-date="dateOptions" type="text" name="start_date" placeholder="mm/dd/yyyy" class="form-control"
                       ng-model="start_date"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">End Date</label>

            <div class="col-sm-5">
                <input ui-date="dateOptions" type="text" name="end_date" placeholder="mm/dd/yyyy" class="form-control"
                       ng-model="end_date"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Display</label>

            <div class="col-sm-5">
                <table>
                    <tr>
                        <td>
                            <a href="/reports/status/{{start_date | date:'yyyy-MM-dd'}}/{{end_date | date:'yyyy-MM-dd' }}/html"
                               target="_new" class="btn btn-default"><i
                                    class="glyphicon glyphicon-eye-open"></i> On Screen</a>
                        </td>
                        <td>
                            <a href="/reports/status/{{start_date | date:'yyyy-MM-dd'}}/{{end_date | date:'yyyy-MM-dd' }}/pdf"
                               target="_new" class="btn btn-default"><i class="glyphicon glyphicon-file"></i> PDF
                                File</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">

            <label class="col-sm-3 control-label">Email To</label>

            <div class="col-sm-5">
                <select id="email_address" class="form-control" ui-select2 ng-model="emailAddress">
                    <option ng-repeat="email in emails">{{email.address}}</option>
                </select>
            </div>
            <button class="btn btn-default" ng-click="emailReport(emailAddress)" ng-disabled="emailInProgress">Email
            </button>
            <div class="progress progress-striped active ng-cloak" ng-show="emailInProgress">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
