<div class="ng-cloak col-sm-12 summary" ng-show="optionsDisplay==='table'">
    <table class="table table-condensed table-striped table-bordered">
        <caption><b>Name Change Project Summary Statistics To Date</b></caption>
        <thead>
        <tr>
            <th>Category</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Clients</td>
            <td>{{summary.total_clients}}</td>
        </tr>
        <tr>
            <td>Client Intakes Completed</td>
            <td>{{summary.total_intakes}}</td>
        </tr>
        <tr>
            <td>Clients Awaiting Assignment</td>
            <td>{{summary.total_waiting}}</td>
        </tr>
        <tr>
            <td>Active Cases</td>
            <td>{{summary.total_active}}</td>
        </tr>
        <tr>
            <td>Completed Cases</td>
            <td>{{summary.total_finished}}</td>
        </tr>
        <tr>
            <td>Participating Firms</td>
            <td>{{summary.total_firms}}</td>
        </tr>
        <tr>
            <td>Participating Attorneys</td>
            <td>{{summary.total_attorneys}}</td>
        </tr>
        </tbody>
    </table>
    <div class="ng-cloak col-sm-12 chart">
        <fs-pie bind="chartData.by_gender"/>
    </div>
</div>